<%- include('../template/header.ejs'); -%>
<div class="container mt-5">
<div class="row d-flex justify-content-center">
    <p class="display-6 text-center">
        <span>ERROR 404</span><br><br>
        <span>Cliquer <a href="/">ICI </a> POUR REVENIR A LA PAGE D'ACCEUIL</span>
    </p>

</div>
</div>

<%- include('../template/footer.ejs'); -%>